.btn {
  background-color: $element_action;
  outline: none;
  border: none;
  cursor: pointer;
  padding: $spacing-2 $spacing-4;
  @include font-interface_xl;
  color: $element_primary-reversed;
  transition: 200ms ease-in 0s;

  &:hover, &:active, &:focus {
    background-color: $element_action-darker;
  }
  &:active, &:focus {
    transform: scale(0.95);
  }
}

.btn-rounded {
  border-radius: $radius_reg;
}

.btn-full {
  border-radius: $radius-full;
}