.header {
  .container {
    max-width: 1366px;
    margin: 0 auto;
    padding-top: $spacing-4;
    padding-left: $spacing-4;
    padding-right: $spacing-4;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-areas: 
      "logotype menu";
    
      .logotype { 
        grid-area: logotype;
        max-width: 112px;
      }
      
      .menu { 
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: $spacing-4;
        grid-area: menu; 
  
        .login a {
          @include font-interface_l;
          color: $element_primary;
          text-decoration: underline;
          
          &:hover {
            text-decoration: none;
          }
        }
  
        .nav button {
          width: 40px;
          height: 40px;
  
          img {
            width: $spacing-4;
            height: $spacing-4;
            transform: translate(-4px, 2px);
          }
        }
      }

  }
}

.nav-bloc {
  position: fixed;
  height: 100vh;
  width: 100%;

  transform: translateY(-56px);
  background-color: $background_ground-reversed;
  z-index: 1;

  .container {
    .menu {
      .nav button {
        width: 40px;
        height: 40px;
    
        img {
          width: 16px;
          height: 16px;
          transform: translate(-4px, 2px);
        }
      }
    }
  }

  a {
    color: $element_primary-reversed;

    &:hover {
      text-decoration: underline;
    }
  }

  .nav-items {
    margin-top: $spacing-24;
    text-align: center;
    @include font-interface_l;

    li {
      display: flex;
      flex-direction: column;
      gap: $spacing-4;
    }

    li:first-child {
      margin-bottom: $spacing-12;
      @include font-heading_2;
    }
  }
}

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateY($spacing-4);
  opacity: 0;
}

@media (max-width: 725px) {
  .login {
    display: none;
  }
}