.hero {
  background-color: $background_ground;
  background: $background_gradient;

  &_bloc {
    max-width: 1366px;
    margin: $spacing-24 auto;
    padding-left: $spacing-4;
    padding-right: $spacing-4;
    display: flex;
    align-items: center;

    .content {

      .heading_1 {
        max-width: 628px;
        @include font-heading_1;
        color: $element_primary;
        margin-bottom: $spacing-12;
      }

      .paragraph {
        max-width: 485px;
        @include font-paragraph_md;
        color: $element_secondary;
      }
    }

    .picture {
      max-width: 700px;
    }
  }
}

.human {
  max-width: 1366px;
  margin: 0 auto;
  margin-bottom: $spacing-12;
  padding-left: $spacing-4;
  padding-right: $spacing-4;
  display: flex;
  align-items: center;
  flex-direction: column;

  .heading_2 {
    @include font-heading_2;
    color: $element_primary;
    text-align: center;
  }

  &_container {
    margin-top: $spacing-12;
    display: flex;
    gap: $spacing-6;
  }

  &_bloc {
    display: flex;
    flex-direction: column;
    text-align: center;

    .picture img {
      width: 120px;
      box-shadow: $shadow_light;
      border-radius: $radius_full;
    }

    .heading_4 {
      @include font-heading_4;
      color: $element_primary;
      margin-top: $spacing-6;
      margin-bottom: $spacing-4;
    }

    .paragraph {
      @include font-paragraph_l-italic;
      color: $element_secondary;
    }
  }
}

@media (max-width: 1235px) {
  .hero {
    &_bloc {
      flex-direction: column;

      .content {
        margin-bottom: $spacing-12;
      }
    }
  }
}

@media (max-width: 995px) {
  .hero {
    &_bloc {
      .picture img {
        max-width: 328px;
      }
    }
  }

  .human {
    &_container {
      flex-direction: column;
    }

    &_bloc {
      .paragraph {
        max-width: 600px;
      }
    }
  }
}